* {
  padding: 0;
  margin: 0;  
}

body {
  background: #000000;
  font-size: 20px;
  color: #fff;
  font-family: 'Poppins';
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}